.nftcard-component {
    width: 413px;
    height: 556px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: var(--color-box);
    justify-content: center;
    align-items: center;

    &_header {
        width:100%;
        height: 399px;
        border-radius: 20px 20px 0 0;
        background-image: url('/static/images/Hero.png');
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;

        &_content-container {
            width: 278px;
            min-height: 115px;
            margin: 0 0 32px 32px;
            display: flex;
            flex-direction: column;
            gap: 24px;

            &_title {
                font-weight: 600;
                font-size: 24px;
                line-height: 33px;
                color: var(--color-title);
                margin: 0;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &_desc {
                font-weight: 500;
                font-size: 18px;
                line-height: 160%;
                letter-spacing: -0.01em;
                color: var(--color-body);
                margin: 0;
                flex-grow: 1;
                overflow: scroll;
                max-height: 58px;
            }

            &_desc::-webkit-scrollbar {
                display: none;
            }
        }
    }

    &_main {
        display: flex;
        flex-direction: column;
        width: 349px;
        height: 157px;

        &_content-container {
            display: flex;
            flex-direction: row;
            width: 100%;
            margin-top: 8px;
            height: 29px;

            &_price {
                display: flex;
                flex: 1;
                align-items: center;
                gap: 10px;

                img {
                    width: 20px;
                    height: 20px;
                }

                h3 {
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 160%;
                    letter-spacing: -0.01em;
                    color: var(--color-primary);
                }
            }

            &_time {
                display: flex;
                justify-content: flex-end;
                flex: 1;
                align-items: center;
                gap: 10px;

                img {
                    width: 20px;
                    height: 20px;
                }

                p {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 160%;
                    letter-spacing: -0.01em;
                    color: var(--color-body);
                }
            }
        }

        &_stroke {
            width: 100%;
            height: 1px;
            background-color: #2B3953;
            margin: 32px 0 16px 0;
        }

        &_author {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 16px;
            height: 40px;
            margin-top: 8px;

            img {
                width: 40px;
                height: 40px;
                border-radius: 20px;
            }

            h3 {
                font-weight: 500;
                font-size: 16px;
                line-height: 160%;
                letter-spacing: -0.01em;
                color: var(--color-body);
                margin: 0;

                span {
                    color: var(--color-title);
                }

            }
        }
    }
}

@media screen and (max-width: 834px) {
    .nftcard-component {
        max-width: 343px;
        height: 486px;
        margin: 20px 16px;

        &_header {
            width: 100%;
            height: 410;
            background-image: url('/static/images/HeroMobile.png');


            &_content-container {
                width: 250px;
                height: 110px;
                margin: 0 0 10px 23px;
                gap: 16px;
            }
        }

        &_main {
            max-width: 295px;
            margin: 0 24px;

            &_content-container {
                &_price {
                   h3 {
                    font-size: 16px;
                   }
                }

                &_time {
                    margin-right: 10px;
                    p {
                        font-size: 14px;
                    }
                }
            }

            &_stroke {
                margin: 18px 0 16px 0;
            }

            &_author {
                margin-top: 4px;
                h3 {
                    font-size: 14px;
                }
            }
        }

    }
}