/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";
@import "styles/header.scss";
@import "styles/main.scss";
@import "styles/button.scss";
@import "styles/mainRWD.scss";

body {
  font-family: 'Source Sans Pro';
  color: var(--color-primary);
  background: var(--color-background);
  min-height: 100dvh;
  min-height: 100vh;
  min-width: 100dvw;
  min-width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

