.component-container {
    display: grid;
    grid-template-columns: repeat(3, 324px);
    grid-template-rows:
    auto
    auto
    ;
    column-gap: 16px;
    row-gap: 48px;
    margin: 0 75px;
    place-items: center;

    &_header {
        grid-column: 2;
        grid-row: 1;
        width: 244px;
        height: 108px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 8px;

        &_title {
            font-weight: 600;
            font-size: 48px;
            line-height: 48px;
            letter-spacing: -0.03em;
            margin: 0;
        }

        &_desc {
            height: 44px;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: -0.01em;
            color: var(--color-desc);
            margin: 16px 0 0 0;
        }
    }

    &_main {
        grid-column: 1 / span 3;
        grid-row: 2;
        column-gap: 16px;
        height: 414px;
        display: grid;
        grid-template-columns: repeat(3, 324px);

        &_card-top,
        &_card-center,
        &_card-bottom {
            width: 100%;
            height: 100%;
            border: 1px solid var(--color-stroke);
            border-radius: 24px;
            background: var(--color-secondary);
            display: flex;
            justify-content: center;
            align-items: center;

            &_container {
                width: 260px;
                height: 100%;
                display: flex;
                flex-direction: column;
                position: relative;

                &_title {
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 100%;
                    letter-spacing: -0.03em;
                    margin: 32px 0 16px 0;
                }

                &_price {
                    display: flex;
                    flex-direction: row;
                    width: 114px;
                    height: 42px;

                    &_currency {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 100%;
                        letter-spacing: -0.01em;
                        justify-self: start;
                        align-self: flex-start;
                    }

                    &_value {
                        font-weight: 600;
                        font-size: 48px;
                        line-height: 100%;
                        letter-spacing: -0.03em;
                        align-self: center;
                        justify-self: center;
                        margin: 0;
                    }

                    &_period {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 100%;
                        letter-spacing: -0.01em;
                        color: var(--color-desc);
                        align-self: flex-end;
                        justify-content: end;
                    }
                }

                &_desc {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;
                    letter-spacing: -0.01em;
                    color: var(--color-desc);
                    margin: 24px 0 16px 0;
                }

                &_benefits {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    &_info {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 12px;
                        height: 22px;
                        min-width: 189px;

                        &_img {
                            width: 16px;
                            height: 16px;
                        }

                        &_desc {
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 140%;
                            letter-spacing: -0.01em;
                            margin: 0;
                        }
                    }
                }

                &_button {
                    width: 100%;
                    border-radius: 16px;
                    border: none;
                    height: 48px;
                    position: absolute;
                    bottom: 32px;
                    background: var(--color-primary);
                    color: var(--color-secondary);
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 100%;
                    letter-spacing: -0.01em;
                    cursor: pointer;
                }

                &_button:hover {
                    background: var(--color-hover-v1);
                }

                &_button:active {
                    background: var(--color-pressed-v1);
                }
            }
        }

        &_card-center {
            background: var(--color-primary);

            &_container {

                &_title {
                    color: var(--color-secondary);
                }

                &_price {
                    color: var(--color-secondary);
                }

                &_benefits {
                    color: var(--color-secondary);
                }

                &_button {
                    background: var(--color-button);
                }

                &_button:hover {
                    background: var(--color-hover-v2);
                }

                &_button:active {
                    background: var(--color-pressed-v2);
                }
            }
        }
    }
}

@media screen and (max-width: 1050px) {
    .component-container {
        display: grid;
        grid-template-columns: 674px;
        grid-template-rows:  192px 866px;
        margin-bottom: 100px;

        &_header {
            grid-column: 1;
            grid-row: 1;
            margin-top: 86px;
        }

        &_main{
            height: 866px;
            grid-column: 1;
            grid-row: 2;
            display: grid;
            grid-template-columns: 674px;
            grid-template-rows:  repeat(3, 278px);
            gap: 16px;

            &_card-top {
                grid-column: 1;
                grid-row: 1;
            }
            &_card-center {
                grid-column: 1;
                grid-row: 2;
            }
            &_card-bottom {
                grid-column: 1;
                grid-row: 3;
            }

            &_card-top,
            &_card-center,
            &_card-bottom {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;

                &_container {
                    width: 610px;
                    height: 214px;
                    position: relative;

                    &_title {
                        position: absolute;
                        top: 0px;
                        left: 0;
                        margin: 0;
                    }

                    &_price {
                        position: absolute;
                        margin: 0;
                        top: 0;
                        right: 0;
                    }

                    &_desc {
                        position: absolute;
                        margin: 0;
                        top: 34px;
                        left: 0;
                        width: 244px;
                    }

                    &_benefits {
                        position: absolute;
                        margin: 0;
                        top: 102px;
                        left: 0;
                    }

                    &_button {
                        position: absolute;
                        width: 260px;
                        right: 0;
                        bottom: 0;

                    }
                }
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .component-container {
        display: grid;
        grid-template-columns: 327px;
        grid-template-rows:  180px 1274px;

        &_header {
            margin-top: 72px;
        }

        &_main {
            width: 100%;
            height: 100%;
            grid-template-columns: 100%;
            grid-template-rows:  repeat(3, 414px);

            &_card-top,
            &_card-center,
            &_card-bottom {

                &_container {
                    width: 263px;
                    height: 350px;

                    &_title {
                        position: absolute;
                        top: 0px;
                        left: 0;
                        margin: 0;
                    }

                    &_price {
                        position: absolute;
                        margin: 0;
                        top: 40px;
                        left: 0;
                    }

                    &_desc {
                        position: absolute;
                        margin: 0;
                        top: 106px;
                        left: 0;
                        width: 244px;
                    }

                    &_benefits {
                        position: absolute;
                        margin: 0;
                        top: 166px;
                        left: 0;
                    }

                    &_button {
                        position: absolute;
                        width: 260px;
                        right: 0;
                        bottom: 0;

                    }
                }
            }
        }

        
    }
}