.main__button {
    width: 260px;
    border-radius: 16px;
    position: absolute;
    border: none;
    height: 48px;
    bottom: 32px;
    background: var(--color-primary);
    color: var(--color-secondary);
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.01em;
    text-align: center;
    cursor: pointer;

    &.--purple {
        background: var(--color-button);
    }
}


.main__button:hover {
    background: var(--color-hover-v1);

    &.--purple {
        background: var(--color-hover-v2);
    }
}

.main__button:active {
    background: var(--color-pressed-v1);

    &.--purple {
        background: var(--color-pressed-v2);
    }
}

@media screen and (max-width: 1050px) {
    .main__button {
        position: absolute;
        width: 260px;
        right: 0;
        bottom: 0;
    }
}

@media screen and (max-width: 750px) {
    .main__button {
        position: absolute;
        width: 263px;
        left: 0;
        bottom: 32px;

    }
}

@media screen and (max-width: 370px) {
    .main__button {
        max-width: 240px;
        width: auto;
        left: 10px;
        bottom: 16px;
    }
}