.card {
    width: 324px;
    height: 414px;
    border: 1px solid var(--color-stroke);
    border-radius: 24px;
    background: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;

    &--dark {
        @extend .card;
        background: var(--color-primary);
    }

    & &__content {
        width: 260px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    & &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: -0.03em;
        margin: 32px 0 16px 0;

        &--dark {
            @extend .card__title;
            color: var(--color-secondary);
        }
    }

    & &__price-container {
        display: flex;
        flex-direction: row;
        width: 114px;
        height: 42px;

        &--dark {
            @extend .card__price-container;
            color: var(--color-secondary);
        }
    }

    & &__price-currency {
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: -0.01em;
        justify-self: start;
        align-self: flex-start;
    }

    & &__price-value {
        font-weight: 600;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: -0.03em;
        align-self: center;
        justify-self: center;
        margin: 0 0 1px 1px;
    }

    & &__price-period {
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: -0.01em;
        color: var(--color-desc);
        align-self: flex-end;
        justify-content: end;
        margin-left: 1px;
    }

    & &__desc {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: -0.01em;
        color: var(--color-desc);
        margin: 24px 0 15px 0;
    }

    @media screen and (max-width: 1120px) {
        width: 100%;
        height: 278px;

        & &__content {
            width: 610px;
            height: 214px;
            position: relative;
            margin: 3px 1px 0 0;
        }

        & &__title{
            position: absolute;
            top: 0px;
            left: 0;
            margin: 0;
        }

        & &__price-container {
            position: absolute;
            margin: 0;
            top: 0;
            right: 0;
        }

        & &__desc{
            position: absolute;
            margin: 0;
            top: 34px;
            left: 0;
            width: 244px;
        }
    }

    @media screen and (max-width: 736px) {
        height: 414px;

        & &__content {
            width: 263px;
            height: 100%;
        }

        & &__title{
            top: 31px;
        }

        & &__price-container {
            top: 71px;
            left: 0;
        }

        & &__desc{
            top: 137px;
        }
    }

    @media screen and (max-width: 370px) {
        max-width: 100%;
        height: 414px;

        & &__content {
            width: 263px;
            height: 100%;
        }

        & &__title{
            left: 10px;
        }

        & &__price-container {
            left: 10px;
        }

        & &__desc{
            left: 10px;
        }
    }
}