.card {
    & &__benefits-container {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &--dark {
            @extend .card__benefits-container;
            color: var(--color-secondary);
        }
    }

    & &__benefits-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
        height: 22px;
        max-width: 260px;
    }

    & &__benefits-img {
        width: 16px;
        height: 16px;
        margin-bottom: 1px;
    }

    & &__benefits-desc {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: -0.01em;
        margin: 0;
        height: 22px;
    }

    @media screen and (max-width: 1120px) {
        & &__benefits-container{
            position: absolute;
            margin: 0;
            top: 102px;
            left: 0;
        }
    }

    @media screen and (max-width: 736px) {
        & &__benefits-container {
            top: 197px;
        }
    }

    @media screen and (max-width: 370px) {
        & &__benefits-container {
            left: 10px;
        }
    }
}