@media screen and (max-width: 1050px) {
    .main{
        height: 866px;
        width: 674px;
        flex-direction: column;
        gap: 16px;

        & &__card-container {
            width: 100%;
            height: 278px;

            &__content {
                width: 610px;
                height: 214px;
                position: relative;
                margin: 3px 1px 0 0;

                &__title {
                    position: absolute;
                    top: 0px;
                    left: 0;
                    margin: 0;
                }

                &__price {
                    position: absolute;
                    margin: 0;
                    top: 0;
                    right: 0;
                }

                &__desc {
                    position: absolute;
                    margin: 0;
                    top: 34px;
                    left: 0;
                    width: 244px;
                }

                &__benefits {
                    position: absolute;
                    margin: 0;
                    top: 102px;
                    left: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .main {
        width: 325px;
        height: 1274px;
        margin-right: 1px;
        & &__card-container {
            width: 100%;
            height: 414px;

            &__content {
                width: 263px;
                height: 100%;
                position: relative;
                margin: 3px 1px 0 0;

                &__title {
                    position: absolute;
                    top: 31px;
                    left: 0;
                    margin: 0;
                }

                &__price {
                    position: absolute;
                    margin: 0;
                    top: 71px;
                    left: 0;
                }

                &__desc {
                    position: absolute;
                    margin: 0;
                    top: 137px;
                    left: 0;
                    width: 244px
                }

                &__benefits {
                    position: absolute;
                    margin: 0;
                    top: 197px;
                    left: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 370px) {
    .main {
        max-width: 325px;
        width: 260px;
        height: 1274px;

        & &__card-container {
            max-width: 100%;
            height: 414px;

            &__content {
                max-width: 260px;
                height: 100%;
                position: relative;
                margin: 3px 1px 0 0;

                &__title {
                    position: absolute;
                    top: 31px;
                    left: 10px;
                    margin: 0;
                }

                &__price {
                    position: absolute;
                    margin: 0;
                    top: 71px;
                    left: 10px;
                }

                &__desc {
                    position: absolute;
                    margin: 0;
                    top: 137px;
                    left: 10px;
                    width: 244px
                }

                &__benefits {
                    position: absolute;
                    margin: 0;
                    top: 197px;
                    left: 10px;
                }
            }
        }
    }
}