.main {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 1004px;
    height: 414px;
    position: relative;

    &__card-container {
        width: 324px;
        height: 414px;
        border: 1px solid var(--color-stroke);
        border-radius: 24px;
        background: var(--color-secondary);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.3s, background-color 0.3s;

        &__content {
            width: 260px;
            height: 100%;
            display: flex;
            flex-direction: column;

            &__title {
                font-weight: 600;
                font-size: 24px;
                line-height: 100%;
                letter-spacing: -0.03em;
                margin: 32px 0 16px 0;
            }

            &__price {
                display: flex;
                flex-direction: row;
                width: 114px;
                height: 42px;

                &__currency {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 100%;
                    letter-spacing: -0.01em;
                    justify-self: start;
                    align-self: flex-start;
                }

                &__value {
                    font-weight: 600;
                    font-size: 48px;
                    line-height: 100%;
                    letter-spacing: -0.03em;
                    align-self: center;
                    justify-self: center;
                    margin: 0 0 1px 1px;
                }

                &__period {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 100%;
                    letter-spacing: -0.01em;
                    color: var(--color-desc);
                    align-self: flex-end;
                    justify-content: end;
                    margin-left: 1px;
                }
            }

            &__desc {
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                letter-spacing: -0.01em;
                color: var(--color-desc);
                margin: 24px 0 15px 0;
            }

            &__benefits {
                display: flex;
                flex-direction: column;
                gap: 8px;

                &__info {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 12px;
                    height: 22px;
                    max-width: 260px;


                    &__img {
                        width: 16px;
                        height: 16px;
                        margin-bottom: 1px;
                    }

                    &__desc {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 140%;
                        letter-spacing: -0.01em;
                        margin: 0;
                        height: 22px;
                    }
                }
            }
        }

        &.--dark {
            background: var(--color-primary);

            .main__card-container__content__title {
              color: var(--color-secondary);
            }

            .main__card-container__content__price {
              color: var(--color-secondary);
            }

            .main__card-container__content__benefits {
              color: var(--color-secondary);
            }
        }
    }

    &__card-container:hover {
        transform: scale(1.05);
        background-color: #e2e0e09b;
    }

    &__card-container.--dark:hover {
        background-color: #14132bea;
    }
}
