/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --color-background: #F9F8FB;
    --color-secondary: #ffffff;
    --color-primary: #14132B;
    --color-icons: #EE9C50;
    --color-button: #7863F9;
    --color-stroke: #E2E8EB;
    --color-desc: #989BB4;
    --color-hover-v1: #393850;
    --color-hover-v2: #9180FF;
    --color-pressed-v1: #060613;
    --color-pressed-v2: #6A53F4;
}