/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";
@import "styles/content.scss";
@import "styles/payment.scss";
@import "styles/image.scss";

body {
  font-family: 'Manrope';
  color: var(--color-title);
  background: var(--color-background);
  min-height: 100dvh;
  min-height: 100vh;
  min-width: 100dvw;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
