.button {
    width: 100%;
    height: 56px;
    background: var(--color-primary);
    color: var(--color-white);
    border-radius: 16px;
    border: none;
    margin: 32px 0 0 0;
    cursor: pointer;
}

.button:hover {
    background: #490245;
}

@media screen and (max-width: 860px) {
    .button {
        max-width: 311px;
        margin-top: 33px;
    }
}

@media screen and (max-width: 360px) {
    .button {
        max-width: 270px;
        margin-top: 33px;
    }
}