/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.
.nftcard {
    width: 413px;
    min-height: 556px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: var(--color-box);
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    margin: 125px 50px 100px 50px;

    @media screen and (max-width: 834px) {
        max-width: 343px;
        min-height: 486px;
        margin: 354px 245px 354px 246px;
    }

    @media screen and (max-width: 440px) {
        width: auto;
        height: auto;
        margin: 163px 16px 163px 16px;
    }

    @media screen and (max-width: 360px) {
        margin: 80px 8px 80px 8px;
        max-width: 280px;
    }

    @media screen and (max-width: 290px) {
        margin: 16px 5px 16px 5px;
        max-width: 270px;
    }
}
