.nftcard {
    & &__content {
        width: 349px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        z-index: 1;
        margin: 250px 32px 24px 32px;
    }

    & &__info-container {
        width: 278px;
        min-height: 115px;
        display: flex;
        flex-direction: column;
        gap: 23px;
    }

    & &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        color: var(--color-title);
        margin: 0;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    & &__desc {
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        letter-spacing: -0.01em;
        color: var(--color-body);
        margin: 0;
        flex-grow: 1;
        min-height: 58px;
    }

    @media screen and (max-width: 834px) {
        & &__content {
            max-width: 295px;
            margin-top: 230px;
            margin-left: 33px;
            margin-bottom: 20px;
        }

        & &__info-container {
            width: 251px;
            min-height: 107px;
            gap: 16px;
        }
    }

    @media screen and (max-width: 360px) {
        & &__content {
            max-width: 260px;
        }
    }
}